@font-face {
    font-family: 'TTOctosquares-Regular Regular';
    font-style: normal;
    font-weight: normal;
    src: local('TTOctosquares-Regular Regular'), url('TTOctosquaresRegular.woff') format('woff');
    }